@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="form">
        <table>
            <tr>
                <td>Agreement Number</td>
                <td><input id="agreement_number" name="agreement_number" type="text" /></td>
            </tr>
            <tr>
                <td>Branch ID</td>
                <td><input id="branch_id" name="branch_id" type="text" /></td>
            </tr>
            <tr>
                <td>No. BPKB</td>
                <td><input id="no_bpkb" name="no_bpkb" type="text" /></td>
            </tr>
            <tr>
                <td>Tanggal BPKB In</td>
                <td><input id="tgl_bpkb_in" name="tgl_bpkb_in" type="date" /></td>
            </tr>
            <tr>
                <td>Tanggal BPKB</td>
                <td><input id="tgl_bpkb" name="tgl_bpkb" type="date" /></td>
            </tr>
            <tr>
                <td>No. Faktur</td>
                <td><input id="no_faktur" name="no_faktur" type="text" /></td>
            </tr>
            <tr>
                <td>Tanggal Faktur</td>
                <td><input id="tgl_faktur" name="tgl_faktur" type="date" /></td>
            </tr>
            <tr>
                <td>Nomor Polisi</td>
                <td><input id="no_polisi" name="no_polisi" type="text" /></td>
            </tr>
            <tr>
                <td>Lokasi Penyimpanan</td>
                <td><select id="lokasi_penyimpanan" name="lokasi_penyimpanan"></select>
            </tr>
        </table>
        <input id="btn_submit" type="button" value="Submit" />
    </form>
</div>

